:root{
  --background: #F3F4F6;
  --Todo_item: #FFFFFF;
  --Accent_button: #3B82F6;
  --Completed_task:#10B981;
  --Delete_button:#EF4444;
  --Text:#1F2937;
}
* {
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;
  color: var(--Text)
}
body{
  min-height: 100vh;
  padding: 10px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #3B82F6;
}
.todo-container{
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todo-input{
  box-sizing: border-box;
  padding: 12px 12px;
  width: 100%;
  background-color: none;
  border: 1px solid #D1D5DB;
  border-radius: 1000px;
  font: inherit;
  color: var(--Text);
  caret-color: #3B82F6;
}
.todo-input:focus{
  outline: none;
}
form{
  position: relative;
}
.add-button{
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--Accent_button);
  height: 100%;
  padding: 0 30px;
  border: none;
  border-radius: 1000px;
  font: inherit;
  font-weight: 500;
  color: var(--background);
  cursor: pointer;
}
.todo{
  margin-bottom: 10px;
  padding: 0 16px;
  background-color: var(--Todo_item);
  border-radius: 15px;
  display: flex;
  align-items: center;
}




.icon {
  filter: invert(1);
  height: 24px;
  width: 24px;
}
